.carousel {
  height: 60vh;
  background-color: #DDE6E7;

  .img {
    width: 40vh !important;
    margin: auto;
    margin-bottom: 1rem;
  }

  .details {
    text-align: center;
    padding: 0 4rem;
  
    button {
      background-color: #FF4938;
      color: #FFF;
      border-radius: 10px;
      padding: 1rem 3rem;
      outline: none;
      border: none;
    }
  }
}
